:root {
    --wht: #F5F5EF;
    --lt: #E1CEBF;
    --mid: #B97141;
    --org: #FF6D5F;
    --mag: #A4377A;
    --drk: #070605;
    --font1: 'TT Drugs Trl Cnd', sans-serif;
    --font2: 'Lemon Tuesday', sans-serif;
    --font3: 'Arial Narrow', sans-serif;
  }

  body {
    background-color: var(--drk);
  }

.card {
    position: relative;
    width: 25px;
    height: 25px;
    background: lightgrey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
  }
  
  .background {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 100% 107%, var(--org) 0%, var(--org) 30%, var(--mag) 60%, var(--drk) 100%);
  }
  
  .logo {
    position: absolute;
    right: 50%;
    bottom: 45%; 
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
  }

  .logo .logo-link {
      color: var(--wht);
      transition: all 0.5s ease-in-out;
    }

    .card:hover .logo .logo-link {
      width: 30px;
      height: 30px;
    }
  
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .icon .link {
    color: var(--wht);
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .box:hover .link {
    color: white;
  }
  
  .box1 {
    width: 60%;
    height: 60%;
    bottom: -150%;
    left: -150%;
  }
  
  .box1::before {
    background: radial-gradient(circle at 30% 107%, var(--org) 0%, var(--mid) 5%, var(--org) 60%, var(--mag) 90%);
  }
  
  .box1:hover::before {
    opacity: 1;
  }
  
  .box1:hover .icon .link {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box2 {
    width: 40%;
    height: 40%;
    bottom: -150%;
    left: -150%;
    transition-delay: 0.2s;
  }
  
  .box2::before {
    background: radial-gradient(circle at 30% 107%, var(--mid) 0%, var(--org) 90%);
  }
  
  .box2:hover::before {
    opacity: 1;
  }
  
  .box2:hover .icon .link {
    filter: drop-shadow(0 0 5px white);
  }
  
  .box3 {
    width: 20%;
    height: 20%;
    bottom: -150%;
    left: -150%;
    transition-delay: 0.4s;
  }
  
  .box3::before {
    background: radial-gradient(circle at 30% 107%, var(--lt) 0%, var(--org) 90%);
  }
  
  .box3:hover::before {
    opacity: 1;
  }
  
  .box3:hover .icon .link {
    filter: drop-shadow(0 0 5px white);
  }
  

  .card:hover {
    width: 150px;
    height: 150px;
    transform: scale(1.1);
  }
  
  .card:hover .box {
    bottom: -1px;
    left: -1px;
  }
  
  .card:hover .logo {
    transform: translate(0, 0);
    bottom: 10px;
    right: 10px;
  }